body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/premium-vector/silhouette-deer-standing-time-morning_43605-512.jpg?ga=GA1.1.1803349754.1697986121&semt=ais_hybrid");
    background-size: cover;
    font-family: Arial, sans-serif;
  }

  a{
    text-decoration: none;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .cardss{
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px 50px 40px 30px;
    width: 420px;
    text-align: center;
  }

  h2 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 800;
    color: #134074;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .input-container {
    margin-bottom: 10px;
    text-align: left;
  }

  label {
    margin-bottom: 5px;
    display: block;
    color: #fff;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #134074;
    background: transparent;
    outline: none;
    color: rgb(0, 0, 41);
  }

  input::placeholder{
    color: #134074;
  }

  button {
    margin-top: 3vmin;
    padding: 10px 20px;
    width: 105%;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: #134074;
    color: #fff;
    font-size: 3vmin;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    transform: scale(1.02);
  }

  .shiwPasswordBtn {
    padding-top: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
  }

  .noAccount {
    color: #fff;
    margin: auto;
    padding-top: 10px;
  }

  .noAccount a {
    font-weight: 700;
    color: #134074;
    text-decoration: none;
  }

  .icons {
    display: flex;
    gap: 10px;
    height: 70px;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 25px;
  }
